.checkBox{
    text-align: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin-top: 15px; 
}

.checkBox:hover{
    border: 5px solid black;
    width: 25px;
}

.checkBox:active{
    border: 5px solid black;
    width: 25px;
}
